<form method="POST" asp-controller="Cliente" asp-action="ReceberDados" >

 <label>Informe o seu nome:</label>
 <input type="text" name="nomeCliente" required/>

<br/>

 <label>Informe a sua data de nascimento:</label>
 <input type="date" data ="dataNascimento"/>

<label>Informe a sua altura:</label>
 <input type="text" altura="alturaCliente" required/>

<label>Informe o seu peso:</label>
 <input type="text" peso="pesoCliente" required/>

 <input type="submit" value="Enviar" />

</form>