@Model AulaMVC.Models.Cliente


<p>Obrigado por preencher o nosso formulário</p>

@Model.Name;

@Model.["ViewDataNascimento"];

DataLabel.Text = variavelDateTime.ToString("dd/MM/yyyy HH:mm:ss");
@Model.DiaDaSemana;

@Model.CalculoIMC;
